<script type="text/x-template" id="scrollableGridTemplate">
    <div id="renderTo" class="gridHolder">
        <table class="limitedWidth">
            <thead>
                <tr>
                    <th class="sortable name" data-column="name">Name</th>
                    <th class="sortable location" data-column="location">Location</th>
                    <th class="sortable startDate" data-column="startDate">Start Date</th>
                    <th class="sortable endDate" data-column="endDate">End Date</th>
                    <th class="sortable price" data-column="price">Price</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
            
        </table>
    </div>
</script>