<script type="text/x-template">
    <div id="renderTo" class="gridHolder">
        <table>
            <thead>
                <tr>
                    <th class="name" data-column="name">Name</th>
                    <th class="location" data-column="location">Location</th>
                    <th class="startDate" data-column="startDate">Start Date</th>
                    <th class="endDate" data-column="endDate">End Date</th>
                    <th class="price" data-column="price">Price</th>
                </tr>
            </thead>
        </table>
    </div>
</script>